<template>
  <div class="investmet-detail">
    <InvestmentData />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import InvestmentRequest from "@/service/investmentService";
import { InvestmentModule } from "@/store/modules/investments";
import InvestmentData from "@/components/InvestmentData.vue";

const investmentRequest = new InvestmentRequest();

@Component({
  components: {
    InvestmentData
  }
})
export default class InvestmentDetail extends Vue {
  @Prop({ required: true }) private investmentId!: number;

  mounted() {
    if (
      !InvestmentModule.selected ||
      InvestmentModule.selected.id != this.investmentId
    ) {
      console.info(`Fetch data for investment ${this.investmentId}`);
      this.fetchAndSetInvestment();
    }
  }

  fetchAndSetInvestment() {
    investmentRequest.getOne(this.investmentId).then(response => {
      InvestmentModule.setInvestment(response.data);
    });
  }
}
</script>

<style></style>
