<template>
  <div class="investment-edition">
    <h1>Investment Edition</h1>
    <InvestmentForm :investment="investment" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import InvestmentRequest from "@/service/investmentService";
import { InvestmentModule } from "@/store/modules/investments";
import InvestmentForm from "@/components/InvestmentForm.vue";

const investmentRequest = new InvestmentRequest();

@Component({
  components: {
    InvestmentForm
  }
})
export default class InvestmentEdition extends Vue {
  @Prop({ required: true }) private investmentId!: number;

  mounted() {
    if (
      !InvestmentModule.selected ||
      InvestmentModule.selected.id != this.investmentId
    ) {
      this.fetchAndSetInvestment();
    }
  }

  fetchAndSetInvestment(): void {
    investmentRequest
      .getOne(this.investmentId)
      .then(response => {
        InvestmentModule.setInvestment(response.data);
      })
      .catch(err => {
        this.$buefy.toast.open({
          message: `Something went wrong.\n${err}`,
          type: "is-danger"
        });
      });
  }

  get investment() {
    return InvestmentModule.selected;
  }
}
</script>

<style></style>
