<template>
  <div class="investments">
    <InvestmentsAPIFilter />
    <InvestmentsTabs />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import InvestmentRequest from "@/service/investmentService";
import InvestmentsTabs from "@/components/InvestmentsTabs.vue";
import InvestmentsAPIFilter from "@/components/InvestmentsAPIFilter.vue";
import { InvestmentModule } from "@/store/modules/investments";

const investmentRequest = new InvestmentRequest();

@Component({
  components: {
    InvestmentsTabs,
    InvestmentsAPIFilter
  }
})
export default class Investments extends Vue {
  mounted() {
    investmentRequest
      .getSeveral()
      .then(response => {
        InvestmentModule.updateInvestments(response.data);
      })
      .catch(err => {
        this.$buefy.toast.open({
          message: `Something went wrong.\n${err}`,
          type: "is-danger"
        });
      });
  }
}
</script>

<style>
.investments {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.investments div {
  margin: 10px;
}
</style>
