<template>
  <div class="investments-table">
    <b-table
      :data="investments"
      :focusable="true"
      default-sort="id"
      sort-icon="chevron-up"
      :paginated="true"
      :per-page="10"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
      @update:selected="switchModalOn"
    >
      <b-table-column
        field="id"
        label="Identifier"
        sortable
        numeric
        v-slot="props"
        >{{ props.row.id }}</b-table-column
      >
      <b-table-column
        field="titreoperation"
        label="Titre de l'operation"
        sortable
        v-slot="props"
        >{{ props.row.titreoperation }}</b-table-column
      >
      <b-table-column field="ville" label="Ville" sortable v-slot="props">{{
        props.row.ville
      }}</b-table-column>
      <b-table-column field="ppi" label="PPI" sortable v-slot="props">{{
        props.row.ppi
      }}</b-table-column>
      <b-table-column field="lycee" label="Lycee" sortable v-slot="props">{{
        props.row.lycee
      }}</b-table-column>
      <b-table-column
        field="etat_d_avancement"
        label="Etat d'avancement"
        sortable
        v-slot="props"
        >{{ props.row.etat_d_avancement }}</b-table-column
      >
      <b-table-column
        field="montant_des_ap_votes_en_meu"
        label="Apport Vote en M(€)"
        sortable
        v-slot="props"
        >{{ props.row.montant_des_ap_votes_en_meu }}</b-table-column
      >
      <!-- <b-table-column label="Actions" v-slot="props">
        <b-button
          icon-right="binoculars"
          :to="{ name: 'Investment Detail', params: { id: props.row.id } }"
          type="is-link"
        />
      </b-table-column> -->
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"></b-icon>
            </p>
            <p>No investments data yet.</p>
          </div>
        </section>
      </template>
    </b-table>
    <b-modal v-model="displayModal">
      <div class="card">
        <div class="card-content">
          <investment-data />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { InvestmentI } from "@/interfaces/investment";
import { InvestmentModule } from "@/store/modules/investments";
import InvestmentData from "@/components/InvestmentData.vue";

@Component({
  components: {
    InvestmentData,
  },
})
export default class InvestmentsTable extends Vue {
  public displayModal = false;

  get investments(): InvestmentI[] {
    return InvestmentModule.list;
  }

  switchModalOn(selected: InvestmentI) {
    InvestmentModule.setInvestment(selected);
    this.displayModal = true;
  }
}
</script>

<style>
.investment-data {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.investment-data div {
  padding: 10px;
}
h2 {
  text-align: left;
  font-size: 30px;
}

h1 {
  font-size: 40px;
  text-overflow: ellipsis;
}
</style>
