<template>
  <div class="filter-api">
    <h2>Filter API</h2>
    <b-field label="Ville">
      <b-input v-model="ville" @input="fetchInvestments" size="is-medium" icon="domain"></b-input>
    </b-field>
    <b-field label="Etat d'avancement">
      <b-input
        v-model="etatAvancement"
        @input="fetchInvestments"
        size="is-medium"
        icon="file-chart"
      ></b-input>
    </b-field>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import InvestmentRequest from "@/service/investmentService";
import { InvestmentModule } from "@/store/modules/investments";

const investmentRequest = new InvestmentRequest();

@Component
export default class InvestmentAPIFilter extends Vue {
  ville: string;
  etatAvancement: string;

  constructor() {
    super();
    this.ville = "";
    this.etatAvancement = "";
  }

  fetchInvestments(): void {
    let params = {};

    params = this.ville ? { ...params, ville: this.ville } : params;
    params = this.etatAvancement
      ? // eslint-disable-next-line @typescript-eslint/camelcase
        { ...params, etat_d_avancement: this.etatAvancement }
      : params;
    investmentRequest
      .getSeveral(params)
      .then(response => {
        InvestmentModule.updateInvestments(response.data);
      })
      .catch(err => {
        this.$buefy.toast.open({
          message: `Something went wrong.\n${err}`,
          type: "is-danger"
        });
      });
  }
}
</script>

<style>
h2 {
  font-size: 30px;
}
</style>
