<template>
  <div class="investments-tabs">
    <b-tabs position="is-centered" size="is-large" expanded v-model="activeTab">
      <b-tab-item label="Investments List" icon="format-list-bulleted-square">
        <InvestmentsTable />
      </b-tab-item>
      <b-tab-item label="Investments Map" icon="map-marker">
        <InvestmentsMap />
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import InvestmentsTable from "@/components/InvestmentsTable.vue";
import InvestmentsMap from "@/components/InvestmentsMap.vue";

@Component({
  components: {
    InvestmentsTable,
    InvestmentsMap,
  },
})
export default class InvestmentsTabs extends Vue {
  public activeTab = 0;
}
</script>

<style></style>
