<template>
  <div class="investments-map">
    <l-map class="map-full" ref="investmentMap" :zoom="zoom" :center="center">
      <l-tile-layer :url="url"></l-tile-layer>
      <l-marker
        v-for="investment in investments"
        :key="investment.id"
        :lat-lng="getLatLng(investment)"
        :zIndexOffset="3"
        :name="investment.codeuai"
        @add="openPopup"
      >
        <!-- Not working popup 
          <l-popup :options="{ autoClose: false, closeOnClick: false }">
          {{
          investment.operationtitle
          }}
        </l-popup>-->
      </l-marker>
    </l-map>
    <b-modal v-model="displayModal">
      <div class="card">
        <div class="card-content">
          <investment-data />
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { InvestmentI } from "@/interfaces/investment";
import { LMap, LTileLayer, LMarker } from "vue2-leaflet";
import { InvestmentModule } from "@/store/modules/investments";
import InvestmentData from "@/components/InvestmentData.vue";

import { Icon } from "leaflet";

type D = Icon.Default & {
  _getIconUrl: string;
};

Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png")
});
@Component({
  components: {
    LMap,
    LTileLayer,
    LMarker,
    InvestmentData
  }
})
export default class InvestementsMap extends Vue {
  public displayModal = false;
  public center: number[] = [48.85522811385678, 2.3431846318220733];
  public url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  public zoom = 8;

  get investments(): InvestmentI[] {
    return InvestmentModule.list.filter(investment => {
      return investment.latitude;
    });
  }

  switchModalOn(selected: InvestmentI) {
    InvestmentModule.setInvestment(selected);
    this.displayModal = true;
  }

  getLatLng(investment: InvestmentI): (number | undefined)[] {
    return [investment.latitude, investment.longitude];
  }
  openPopup(event: any) {
    Vue.nextTick(() => {
      event.target.openPopup();
    });
  }
}
</script>

<style>
.map-full {
  min-width: 900px;
  min-height: 600px;
}
</style>
