<template>
  <div class="investment-form">
    <b-field horizontal label="Titre Operation">
      <b-input v-model="newInvestment.titreoperation"></b-input>
    </b-field>
    <div class="flexcontent">
      <div class="location">
        <h2>Location</h2>
        <b-field horizontal label="Ville">
          <b-input v-model="newInvestment.ville"></b-input>
        </b-field>
        <b-field horizontal label="Coordinates">
          <b-input placeholder="latitude" disabled expanded v-model="newInvestment.latitude" />
          <b-input placeholder="longitude" disabled expanded v-model="newInvestment.longitude" />
          <b-button type="is-danger" icon-left="cancel" @click="resetLatLng">Reset</b-button>
        </b-field>
        <l-map class="map" ref="investmentMap" :zoom="zoom" :center="center" @click="updateLatLng">
          <l-tile-layer :url="url"></l-tile-layer>
          <l-marker :lat-lng="latLng" :zIndexOffset="3"></l-marker>
        </l-map>
      </div>
      <div class="other-data">
        <h2>Donnees investissement</h2>
        <b-field horizontal label="PPI">
          <b-input v-model="newInvestment.ppi"></b-input>
        </b-field>
        <b-field horizontal label="Lycee">
          <b-input v-model="newInvestment.lycee"></b-input>
        </b-field>
        <b-field horizontal label="Codeuai">
          <b-input v-model="newInvestment.codeuai"></b-input>
        </b-field>
        <b-field horizontal label="Etat d'avancement">
          <b-input v-model="newInvestment.etat_d_avancement"></b-input>
        </b-field>
        <b-field horizontal label="Montant des apports votes en M€">
          <b-input v-model="newInvestment.montant_des_ap_votes_en_meu"></b-input>
        </b-field>
        <b-field horizontal label="Annee d'individualistion">
          <b-input v-model="newInvestment.annee_d_individualisation"></b-input>
        </b-field>
        <b-field horizontal label="Enveloppe prevue en M€">
          <b-input v-model="newInvestment.enveloppe_prev_en_meu"></b-input>
        </b-field>
        <b-field horizontal label="Maitrise d'oeuvre">
          <b-input v-model="newInvestment.maitrise_d_oeuvre"></b-input>
        </b-field>
        <b-field horizontal label="Mandataire">
          <b-input v-model="newInvestment.mandataire"></b-input>
        </b-field>
        <b-field horizontal label="Entreprise">
          <b-input v-model="newInvestment.entreprise"></b-input>
        </b-field>
        <b-field horizontal label="Notification du marche">
          <b-input v-model="newInvestment.notification_du_marche"></b-input>
        </b-field>
        <b-field horizontal label="Annee de livraison">
          <b-input v-model="newInvestment.annee_de_livraison"></b-input>
        </b-field>
        <b-field horizontal label="CAO Attribution">
          <b-input v-model="newInvestment.cao_attribution"></b-input>
        </b-field>
        <b-field horizontal label="Mode d'evolution">
          <b-input v-model="newInvestment.mode_de_devolution"></b-input>
        </b-field>
        <b-field horizontal label="Nombre de lots">
          <b-input v-model="newInvestment.nombre_de_lots"></b-input>
        </b-field>
      </div>
    </div>
    <b-button
      type="is-success"
      class="spacious"
      size="is-medium"
      icon-left="content-save"
      :disabled="!hasModification"
      @click="save"
    >Save</b-button>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from "vue-property-decorator";
import InvestmentRequest from "@/service/investmentService";
import { InvestmentModule } from "@/store/modules/investments";
import { InvestmentI } from "@/interfaces/investment";
import { LMap, LTileLayer, LMarker } from "vue2-leaflet";

import { Icon } from "leaflet";

type D = Icon.Default & {
  _getIconUrl: string;
};

Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png")
});

const investmentRequest = new InvestmentRequest();

@Component({
  components: {
    LMap,
    LTileLayer,
    LMarker
  }
})
export default class InvestmentForm extends Vue {
  @Prop({ required: true }) private investment!: InvestmentI;
  public newInvestment: InvestmentI = JSON.parse(
    JSON.stringify(this.investment)
  );
  public zoom = 10;
  public url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";

  @Watch("investment")
  onPropChange(newValue: InvestmentI, oldValue: InvestmentI) {
    this.newInvestment = newValue;
  }

  get hasModification(): boolean {
    return (
      JSON.stringify(this.newInvestment) != JSON.stringify(this.investment)
    );
  }

  get center() {
    return [this.investment.latitude, this.investment.longitude];
  }

  get latLng() {
    return [this.newInvestment.latitude, this.newInvestment.longitude];
  }

  updateLatLng(event: any) {
    this.newInvestment.latitude = event.latlng.lat;
    this.newInvestment.longitude = event.latlng.lng;
  }

  resetLatLng() {
    this.newInvestment.latitude = this.investment.latitude;
    this.newInvestment.longitude = this.investment.longitude;
  }
  save() {
    investmentRequest
      .update(this.newInvestment)
      .then(_ => {
        InvestmentModule.setInvestment(this.newInvestment);
      })
      .catch(err => {
        this.$buefy.toast.open({
          message: `Something went wrong.\n${err}`,
          type: "is-danger"
        });
      });
  }
}
</script>

<style>
.investment-form {
  width: 80%;
  margin: auto;
}
.flexcontent {
  display: flex;
}
.other-data {
  flex-grow: 4;
}
.spacious {
  margin-top: 80px;
}
</style>
