<template>
  <div>
    <div v-if="investment">
      <h1>{{ investment.titreoperation }}</h1>
      <div class="investment-data">
        <div class="location">
          <h2>Localisation</h2>
          <p>Ville : {{ investment.ville }}</p>
          <l-map
            class="map"
            ref="investmentMap"
            :zoom="zoom"
            :center="getLatLng"
            @click="log"
          >
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker :lat-lng="getLatLng" :zIndexOffset="3"></l-marker>
          </l-map>
        </div>
        <div class="other-data">
          <h2>Donnees investissement</h2>
          <p><strong>PPI</strong>: {{ investment.ppi }}</p>
          <p><strong>Lycee</strong>: {{ investment.lycee }}</p>
          <p><strong>Codeuai</strong>: {{ investment.codeuai }}</p>
          <p>
            <strong>Etat d'avancement</strong>:
            {{ investment.etat_d_avancement }}
          </p>
          <p v-if="investment.montant_des_ap_votes_en_meu">
            <strong>Montant des apports votes en M€</strong>:
            {{ investment.montant_des_ap_votes_en_meu }}
          </p>
          <p v-if="investment.annee_d_individualisation">
            <strong>Annee d'individualisation</strong>:
            {{ investment.annee_d_individualisation }}
          </p>
          <p v-if="investment.enveloppe_prev_en_meu">
            <strong>Enveloppe prevue en M€</strong>:
            {{ investment.enveloppe_prev_en_meu }}
          </p>
          <p v-if="investment.maitrise_d_oeuvre">
            <strong>Maitrise d'oeuvre</strong>:
            {{ investment.maitrise_d_oeuvre }}
          </p>
          <p v-if="investment.mandataire">
            <strong>Mandataire</strong>: {{ investment.mandataire }}
          </p>
          <p v-if="investment.entreprise">
            <strong>Entreprise</strong>: {{ investment.entreprise }}
          </p>
          <p v-if="investment.notification_du_marche">
            <strong>Notification du marche</strong>:
            {{ investment.notification_du_marche }}
          </p>
          <p v-if="investment.annee_de_livraison">
            <strong>Annee de livraison</strong>:
            {{ investment.annee_de_livraison }}
          </p>
          <p v-if="investment.cao_attribution">
            <strong>CAO Attribution</strong>: {{ investment.cao_attribution }}
          </p>
          <p v-if="investment.mode_de_devolution">
            <strong>Mode d'evolution</strong>:
            {{ investment.mode_de_devolution }}
          </p>
          <p v-if="investment.nombre_de_lots">
            <strong>Nombre de lots</strong>: {{ investment.nombre_de_lots }}
          </p>
        </div>
      </div>
      <b-button
        class="spacious"
        type="is-warning"
        size="is-large"
        icon-left="pencil"
        tag="router-link"
        :to="{ name: 'Investment Edition', params: { id: investment.id } }"
      >
        Edit
      </b-button>
    </div>
    <div v-else>No data</div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { InvestmentModule } from "@/store/modules/investments";
import { InvestmentI } from "@/interfaces/investment";
import { LMap, LTileLayer, LMarker } from "vue2-leaflet";

import { Icon } from "leaflet";

type D = Icon.Default & {
  _getIconUrl: string;
};

delete (Icon.Default.prototype as D)._getIconUrl;

Icon.Default.mergeOptions({
  iconRetinaUrl: require("leaflet/dist/images/marker-icon-2x.png"),
  iconUrl: require("leaflet/dist/images/marker-icon.png"),
  shadowUrl: require("leaflet/dist/images/marker-shadow.png"),
});

@Component({
  name: "investment-data",
  components: {
    LMap,
    LTileLayer,
    LMarker,
  },
})
export default class InvestmentData extends Vue {
  public center: number[] = [48.858616, 2.363091];
  public zoom = 10;
  public url = "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";

  get investment(): InvestmentI | null {
    return InvestmentModule.selected;
  }

  get getLatLng() {
    const lat = InvestmentModule.selected?.latitude;
    const lng = InvestmentModule.selected?.longitude;
    if (lat && lng) {
      return [lat, lng];
    }
    return this.center;
  }

  log(e: any) {
    console.log(e);
  }
}
</script>

<style>
.map {
  min-height: 300px;
  min-width: 300px;
  width: 100%;
  z-index: 0;
}
.investment-data {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.investment-data div {
  padding: 10px;
}
h2 {
  text-align: left;
  font-size: 30px;
}

h1 {
  font-size: 40px;
  text-overflow: ellipsis;
}
.spacious {
  margin-top: 80px;
}
</style>
