<template>
  <div id="app">
    <div id="nav">
      <router-link to="/"
        ><img
          src="https://www.kpi-intelligence.com/wp-content/uploads/2018/06/Logo-KPI-rouge-p%C3%A2le-75-px-de-haut.jpg"
      /></router-link>
    </div>
    <router-view />
  </div>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
